@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JUSTICE_LEAGUE";
  src: url("../app/fonts/JUSTICELEAGUE.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
