@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JUSTICE_LEAGUE";
  src: url("../app/fonts/JUSTICELEAGUE.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.linear-gradient {
  background: linear-gradient(
    91deg,
    rgba(0, 0, 0, 0.4) 2.13%,
    rgba(0, 0, 0, 0.2) 97.87%
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

